$navTopHeight: 45px;
$navHeight: 102px;

$reorganizeNavAt: 1260px;
$reorganizeNavDuration: 0.25s;
$reorganizeNavEasing: $ease-in-out-sine;


header {
	position: fixed;
	top:0; left:0; right:0;
	z-index: 11;
	@include transform( translateZ(0) );
}

.header-logo {
	position: absolute;
	top: 52px; left:0;
}

.header-logo img {
	height: 81px;
}

.header-logo,
.header-logo img {
	@include transition( all $reorganizeNavDuration $reorganizeNavEasing );
}

@media screen and (max-width: $reorganizeNavAt) {
	.header-logo {
		top:0;
		background: #fff;
		padding: 0 8px;
		img { height: $navTopHeight; }
	}
}

.header-logo {
	.small-nav & {
		top:6px;
		
		@media screen and (max-width: $reorganizeNavAt) {
			top:0;
			@include transform( translate3d(0,-$navTopHeight,0) );
		}
	}
	
	img {
		.small-nav & {
			height: $navTopHeight;
		}
	}
}

/* collapsed nav */
@media screen and (max-width: $collapseNavAt) {

	header {
		box-shadow: 0 2px 4px rgba(0,0,0,0.4); 
		.sw {
			max-width:100%;
			background: #fff;
		}
	}

	.header-logo {
		position: relative;
		display: block;
		padding: 5px;
		left:0; right:0;
		width: 165px;
		margin: 0 auto;
	}
	
}