.toggle-nav { 
	outline: none;
	color: $blueColor;
	display: none;
	position: fixed;
	background: transparent;
	top: 8px; left: 5px;
	z-index: 24;
	height: 42px;
	padding: 10px 10px 10px 40px;
	font-weight: 500;
	@include transition( 0.2s all $ease-in-out-sine 0s );
	text-transform: uppercase;
	
	@media screen and (max-width: 600px) {
		font-size:0;
		padding-left: 30px;
	}
		
	.show-nav &,
	&:hover {
		background: $blueColor;
		color:#fff;
		span { 
			&,
			&:before,
			&:after { border-top-color: #fff; }
			
			.show-nav & { border-top-color: #fff; }
		}
	}
	
	
	span {
		width: 20px; height: 10px;
		left:10px;
		margin-top: -1px;
		position: absolute;
		top: 50%;
		border-top:  2px solid $blueColor;
		
		&,
		&:before,
		&:after {
			@include transition( all 0.2s $ease-in-out-sine 0s );
		}
		
		.show-nav & { border-top-color: $blueColor !important; left: 16px;}
		
		&:before,
		&:after {
			content:"";
			position: absolute;
			top: -9px; 
			left:0; right:0;
			border-top: 2px solid $blueColor;
			@include transform-origin( top left );
			.show-nav & {
				margin-left: -1px;
				@include transform( rotate3d(0,0,1,45deg) );
			}
			
		}
		
		&:after { 
			top: auto; bottom:1px;
			@include transform-origin( bottom left );
			.show-nav & { @include transform( rotate3d(0,0,1,-45deg) ); }
		}
		
	}
	
}

.mobile-toggle-search { 
	display: none; 
	position: fixed;
	top: 8px; right: 5px;
	color: $blueColor;
	width: 42px; height: 42px;
	font-size: 24px;
	z-index: 24;
	@include transition( 0.2s all $ease-in-out-sine 0s );
	.show-search &,
	&:hover {
		background: $blueColor;
		color: #fff;
	}
}


.nav {
	padding-top: 45px;
	position: fixed;
	border-bottom: 1px solid #ccc;
	top:0; left:0; right:0;
	z-index: 10;
	background: #fff;
	&:before {
		content:"";
		position: absolute;
		top:0; left:0; right:0; 
		height: 45px;
		background: $blueColor;
	}
}

.nav-top {
	position: absolute;
	top:-45px; left:0; right:0;
	text-align:right;
	
	@include display( flex );
	@include justify-content( flex-end );
	
	.toggle-search {
		width: 45px; height: 45px;
		color: #fff;
	}
	
	a {
		display: block;
		color: #fff;
		line-height: 45px;
		font-size:12px;
		padding: 0 14px;
		text-transform: uppercase;
	}
	
	a:hover,
	button:hover {
		background: darken($blueColor,20);
	}
}

nav {
	padding: 30px 0;
	padding-left:320px;
	@include transition( padding $reorganizeNavDuration $reorganizeNavEasing );
	
	&>ul {
		@include display( flex );
		@include justify-content( space-between );
		&>li {
		
			&>a {
			
				@media screen and (max-width: 900px) {
					& { font-size: 14px; }
				}
			
				color: #333;
				font-weight: 600;
				text-transform: uppercase;
				display: block;
				padding: 8px 10px;
				border: 2px solid #fff;
				border-radius: 4px;
				position: relative;
			}
			
			.highlight,
			&.selected>a,
			&:hover>a {
				color: $blueColor;
				border-color: $blueColor;
			}
			
			&.active>a {
				color: #fff !important;
				border-color: $blueColor;
				background: $blueColor;
			}
			
			&.selected>a {
				&:after {
					content:"";
					height: 32px;
					position: absolute;
					left:0; right:0; top: 100%;
					width: 2px; margin: 0 auto;
					background: $blueColor;
					@include transition( height $reorganizeNavDuration $reorganizeNavEasing );
					.small-nav & { height: 12px; }
				}
				
			}
			
			.highlight:hover {
				color: #fff;
				background-color: $blueColor;
			}
		}
	}
	
	

	.dd-wrap { display: none; }
}

/* dropdown layout */
.dd-meta-left {
	@include flex( 0 0 380px );
}

.dd-left-item {
	padding: 15px;
	text-align:center;
}

.dd-left-item-title {
	display: block;
	margin: 0 0 16px;
	font-weight: 600;
	font-size: 34px;
}

.dd-main {
	@include display( flex );
	@include flex( 1 1 auto );
	position: relative;
}

.dd-menu {
	color: $blueColor;
	@include display( flex );
	@include align-content( stretch );
	@include flex-flow( row wrap );
	@include align-items( center );
	@include flex( 1 1 auto );
}

.dd-menu-item {
	@include flex( 0 1 250px );
	text-align:center;
	display:block;
	padding: 10px;
	color: $blueColor;
	
	&:nth-child(3) { @include order( 3 ); }
	&:nth-child(n+4) { @include order( 6 ); }
	
}

.dd-menu-title {
	font-weight: 600;
	display: block;
	font-size:16px;
}

.dd-contact {
	padding: 25px 10px;
	text-align:center;
	@include flex( 0 2 200px );
	@include order( 4 );
	
	.block {
		margin: 3px 0;
	}
	
	a.block { color: #fff; }
	
	.dd-menu-title { 
		text-transform: uppercase; 
		margin: 0 -10px 10px;
		padding: 0 10px 20px;
		border-bottom: 1px solid #fff;
	}
}

.dd-menu-meta {
	padding: 30px 10px;
	@include order( 99 );
	max-width:none;
	@include flex( 1 1 150px );
	
	@include display( flex );
	.dd-menu-meta-content,
	.lazybg {
		@include flex( 1 1 50% );
	}
	
	.lazybg {
		margin: -40px 20px -60px -10px;
	}
	
	.dd-menu-title {
		font-size: 28px;
		line-height: 1.2;
		text-transform: uppercase;
	}
	
	p {
		font-size: 14px;
	}
}

@media screen and (max-width: 1350px) and (min-width: $collapseNavAt), screen and (max-height: 600px) {
	.dd-menu-meta,
	.dd-contact,
	.dd-meta-left { display: none; }
	
	.dd-menu {
		padding: 20px;
		@include justify-content( center );
	}
	.dd-menu-item {
		max-width:none;
	}

}

/* drastically simplify the dropdowns for short screens/collapsed nav */
@media screen and (max-height: 600px), screen and (max-width: $collapseNavAt) {

	.nav-dd-section-wrap { display: none; }

	.nav {
	
		$navDDOffset: 30px;
		$smallNavDDOffset: 10px;
	
		.dd-wrap {
			position: absolute;
			background: #fff;
			top: 100%; left:-100px; right: -100px;
			margin-top: $navDDOffset;;
			box-shadow: 0 4px 4px rgba(0,0,0,0.4);
			
			.small-nav & { margin-top: $smallNavDDOffset; }
			
			.dd-main { 
				margin-top: -$navDDOffset; 
				.small-nav & { margin-top: -$smallNavDDOffset; }
			}
			
			
			
			&:before {
				content:"";
				position: absolute;
				top:-$navDDOffset; left:0; right:0;
				height: $navDDOffset;
			
				.small-nav & {
					top: -$smallNavDDOffset; 
					height: $smallNavDDOffset;
				}
			}
			
			
		}
		
		.instructor-thumb,
		.workshop-thumb { display: none; }
		
		.instructor-grid-wrap,
		.workshop-grid-wrap {
			padding: 10px !important;
		}
		
		.dd-main .instructors-swiper-wrapper {
			padding-top: 15px;
			.title { display: none; }
			.instructor-grid-wrap { padding:0 !important; }
			.instructors-grid { margin:0; }
			.col { padding-left:0; }
		}
		
		.instructors-grid,
		.workshop-grid {
			.hex-separator { display: none; }
			
			.col {
				width: 50% !important;
				padding-bottom:0;
				@include align-self( center );
				@include flex( 1 1 auto );
			}
			
			.item {
				padding: 8px;
				span {
					font-size: 16px;
					color: $blueColor;
					font-weight:600;
				}
				&:hover {
					background: $blueColor;
					span { color: #fff !important; }
				}
			}
		}	
		
		li { 
			position: relative; 
			&:first-child .dd-wrap {
				left:-5%; right: -200px;
			}
		}
		
		li:hover {
			.dd-wrap { display: block; }
		}
		
		.date-block {
			@include display( flex !important );
			@include align-items( center );
			@include justify-content( center );
			margin: -10px !important;
			border: none;
			padding: 10px !important;
			span { 
				background: transparent !important; 
				@include transition-duration( 0s );
			}
			.date { font-size: 24px; padding-right: 4px; }
			.dow { display: none; }
			.month { padding:0; }
		}
	}
	
	.dd-menu-item {
	
		&:hover .date-block,
		&:hover {
			background: $blueColor;
			color: #fff;
		}
	
		.hex-separator,
		.button,
		p { display: none; }
	}

}

$navDDTransitionEasing: $ease-in-out-sine;
$navDDTransitionDuration: 0.25s;

body {
	@include transition( padding $navDDTransitionDuration $navDDTransitionEasing );	
}

.nav-dd-section-wrap {
	padding-top: 30px;
	margin-top: -30px;
	position: relative;
	z-index: 10;
	
	.small-nav & {
		padding-top: 10px;
		margin-top: -10px;
	}
}

.nav-dd-section { 
	height:0;
	display: block;
	overflow:hidden;
	width: $wrapperWidth;
	margin: 0 auto;
	max-width: 100%;
	left:0; right:0;
	position: relative;
	
	@include transition( height $navDDTransitionDuration $navDDTransitionEasing );	
	
	.show-dropdown & { border: 2px solid $blueColor; }
	
	.dd {
		@include display( flex );
		font-size: 13px;
	}
	
}

@media screen and (max-width: $reorganizeNavAt) {
	nav {
		padding-left:0;
	}
}

/* small nav */
.nav {
	@include transition( transform $reorganizeNavDuration $reorganizeNavEasing );
	.small-nav & {
		@include transform( translate3d(0, -$navTopHeight, 0) );
		box-shadow: 0 2px 4px rgba(0,0,0,0.4);
	}
}

nav {
	.small-nav & {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

/* collapsed nav */
@media screen and (max-width: $collapseNavAt) {

	.show-nav html,
	.show-nav body { height: 100vh; }

	.mobile-toggle-search,
	.toggle-nav {  display: block;  }

	.nav-top {
		position: static;
		display: block;
		padding:0 0 40px;
		text-align:left;
		button { display: none; }
		a { 
			background: darken($blueColor,10); 
			margin-bottom: 1px;
		}
	}
	
	.nav {
		height: 100vh !important;
		position:fixed;
		top:0; left:0; right:0;
		overflow-x: hidden;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		@include transform( translate3d(0,-100vh,0) !important );
		background: rgba($blueColor,0.9);
	
		.show-nav & { @include transform( none !important ); }
		.dd-menu { display: block; }
		.dd {  display: none;   }
		.expanded .dd { display: block; }
		
		.dd-main { margin:0 !important; }
		
		.dd-menu { padding:0; }
		.dd-menu-item { 
			text-align:left; 
			span { color: #fff !important; }
		}
		
		.dd-wrap {
			box-shadow: 0 0 0 #000;
			background: darken($blueColor,10);
			position: relative;
			top:0 !important; left:auto !important; right:auto !important;
			display: block;
			width: 100%;
			margin: 0 !important;
			position: relative;
			z-index:2;
			cursor: pointer;
			@include transform( none );
		
			&:before { display: none; }
		
			&:after {
				content:"\002B";
				position: absolute;
				right:10px; top:-36px;
				color: #fff;
				font-family: arial,helvetica,sans-serif;
				width: 30px; height: 30px;
				line-height: 26px;
				font-size: 32px;
				border: 2px solid #fff;
				border-radius: 50%;
				text-align:center;
				cursor: pointer;
			}
			
		}
		
		.date-block {
			@include justify-content( flex-start );
		}
		
		.expanded .dd-wrap:after,
		.dd-wrap:hover:after {
			color: $blueColor !important;
			background: #fff !important;
		}
		
		.instructor-grid-wrap,
		.workshop-grid-wrap { padding:0 !important; }
		.instructors-grid,
		.workshop-grid { 
			display: block;
			margin:0;
			.col { 
				width: auto !important;  
				padding:0;
			}
		}
		
		.workshop-item,
		.instructor-grid-item {
			text-align: left; 
			span { color: #fff !important; }
		}
		
		.dd-main .instructors-swiper-wrapper { 
			display: block;
			width: 100%;
		}
	
	}
	
	nav {
		text-align: left;
		padding-top: 50px;
		&>ul {
			display: block; 
			height: auto;
			&>li {
				display: block;
				&>a {
					border-radius:0;
					font-size: 18px;
					border: none;
					color: #fff !important;
				}
				
				&.expanded>a,
				&:hover>a { background: darken($blueColor,20); }
				
			}
		}
	}
	
	.expanded div {
		&:after {
			color: $blueColor;
			background: #fff;		
		}
		ul { display: block; }
	}
	
}