$footerBackgroundColor: #000 !default;
$footerContentColor: #fff !default;
$footerLinkColor: #000 !default;
$footerHoverColor: #000 !default;

$copyrightBackgroundColor: #000 !default;
$copyrightContentColor: #000 !default;
$copyrightLinkColor: #000 !default;
$copyrightHoverColor: #000 !default;
$copyrightSeparatorColor: #000 !default;

/* footer */
footer {
	z-index: 7;
	font-weight: 300;
	background-color: $footerBackgroundColor;
	color: $footerContentColor;
	
	a {
		color: $footerLinkColor;
		&:hover { color: $footerHoverColor;}
	}
	
	.social a:after {
		@include transition-duration( 0.4s );
		@include transition-timing-function( $ease-out-back );
	}
}


/* copyright */
.copyright { 
	background-color: $copyrightBackgroundColor;
	color: $copyrightContentColor;
	position: relative; 
	font-size: 12px; 
	text-transform: uppercase; 
	padding: 20px 0; 
	cursor: default; 
	margin-top: 20px; 
	
	.sw {
		@include display( flex );
		@include flex-flow( row wrap );
		@include justify-content( space-between );
		@include align-items( center );
	}
	
	a {
		color: $copyrightLinkColor;
		&:hover { color: $copyrightHoverColor; }
	}
	
	ul {
		position: relative; 
		z-index: 10; 
		display: inline-block;
		padding: 12px 0;
	}
	
	li {
	
		display: inline-block; 
		border-left: 1px solid $copyrightSeparatorColor;
		margin-right: -0.25em; 
		margin-left: 5px; 
		padding-left: 5px; 
		line-height: 1;
	
		&:first-child {
			margin-left:0; 
			padding:0; 
			border: none; 
		}
	
	}
	
}

#jac { width: 186px; height: 25px; background-size: 186px 50px; }

@media screen and (max-width: 800px) {
	.copyright li { display: block; border: none; margin:0; padding:4px 0 !important; font-size: 14px;}
}

.copyright {
	margin: 30px 0 0;
	padding: 20px 0;
	border-top: 1px solid rgba(255,255,255,0.4);
}


.footer-wrap {
	padding: 40px 0 0;
	@include display( flex );
	@include align-items( center );
	@include justify-content( center );
}

.footer-logo {
	@include flex( 0 0 305px );
	margin: -20px 20px 20px 0;
}

.footer-blocks { 
	@include display( flex );
}

.footer-block {
	padding: 0 0 20px 30px;
}

.footer-meta-block {
	@include flex( 1 3 400px );
	p { margin: 0 0 15px; }
}

.footer-contact-block {
	
}

.footer-contact-item {
	display: block;
	margin: 0 0 15px;
	em { display: block; }
}

/* 1st footer reorganization */
@media screen and (max-width: 1200px) {

	.footer-wrap,
	.footer-blocks {
		@include flex-flow( row wrap );
	}
	
	.footer-logo {
		@include order( 99 );
		margin: 0 auto;
		max-width: 80%;
	}
	
	.footer-blocks {
		@include justify-content( space-between );
		@include flex( 0 0 100% );
	}
	
	.footer-block {
		padding: 0 5px 40px;
	}
}