$fieldBackgroundColor: #fff !default;
$fieldTextColor: #{$bodyContentColor} !default;
$fieldPlaceHolderColor: #aaa !default;
$fieldBorderColor: transparent !default;
$fieldFocusedBackgroundColor: #efefef !default;
$fieldSpacing: 10px !default;
$fieldPadding: 14px !default;

/* form stuff */
.single-form { 
	position: relative; background: #fff; max-width: 100%; border: 1px solid #e7e7e7; overflow: hidden;
	
	.fieldset {
		@include display( flex );
		@include align-items( center );
	}
}
.single-form input { 
	border: none; background: transparent; padding: 8px; position: relative; z-index: 4;
	@include flex( 1 1 auto );
}
.single-form button { 
	@include t-fa();
	padding: 4px;
	&:before {
		font-size: 20px;
	}
}
.single-form:after { content:""; position: absolute; top:4px; bottom: 4px; right: 44px; border-left: 1px solid $bodyContentColor; z-index: 10;}

.body-form { 

	max-width: 600px;
	
	&.centered { margin: auto; }
	&.full { max-width: 100%; }
	
	input[type=text],
	input[type=email],
	input[type=password],
	input[type=tel],
	select,
	textarea { 
		font-size: 14px; 
		color: $fieldTextColor; 
		padding: $fieldPadding; 
		width: 100%; 
		display: block; 
		margin: 0 0 $fieldSpacing; 
		font-family: arial,helvetica,sans-serif; 
		background: $fieldBackgroundColor; 
		border: 1px solid $fieldBorderColor;
		@include transition( background $ease-in-sine 0.15s ); 
		@include placeholder {
			color: $fieldPlaceHolderColor;
		}
		
		&:focus { background: $fieldFocusedBackgroundColor; }
		
	}
	
	textarea { height:225px; }

	.field-wrap {
		display: block; 
		background: $fieldBackgroundColor; 
		border: 1px solid $fieldBorderColor; 
		margin: 0 0 $fieldSpacing;
		
		&.t-fa-abs { 
			padding-left: 30px; 
			&:before { 
				right: auto; 
				left: 10px;
			}
			
			&.ta-wrap {
				&:before {
					@include transform( none );
					top: 15px;
				}
			}
		}
		
		input { margin:0 !important; }
		
		input,
		textarea {
			border: none !important;
			background: none !important;
			&:focus { background: none !important; }
		}
	}
	
}