/* hero */
.hero {
	
	.home & { background: #000; }
	
	.hero-bg-link {
		position: absolute;
		z-index: 1;
		top:0; left:0; right:0; bottom:0;
	}
	
	.big-fader {
		height: 100vh;
		min-height: 500px;
		max-height: 800px;
	}
	
	.slick-list { height: 100%; }
	
	.hero-caption,
	.fader-item,
	.slick-track {
		height: 100%;
	}
	
	.fader-item {
		position: relative;
		background-color: #000;
	}
	
	.hero-caption {
		color: #fff;
		@include display( flex );
		.sw { 
			margin: auto;
			text-align:center;
		}
	}
	
	.hero-content {
		.title {
			font-size: 62px;
			font-family: Hand of Sean,$sansSerifFontStack;
			display: block;
			margin: 0 0 12px;
		}
		
		.subtitle {
			font-size: 26px;
			display: block;
			margin: 0 0 12px;
		}
		
		p {
			font-weight: 600;
		}
	}
}

@media screen and (max-width: 600px) {

	.hero {
		.hero-content {
			.title { font-size: 40px; }
		}
	}
	
}

@media screen and (max-width: 500px) {
	
	.hero {
		.big-fader {
			min-height: 300px;
		}
		
		.hero-content {
			.subtitle,
			p { display: none; }
		}
	}
}